.libertinus-serif-display-regular {
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: 400;
  font-style: normal;
}
.bruno-ace-regular {
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.p1{
    font-family: "Bruno Ace", sans-serif;
    width: 100%;
    height: 600px;
    background-color: #261040;
    /*overflow: hidden;*/
    background-image: linear-gradient(to bottom, #261040 95%, white);
}

    
.f1{
    width: 30%;
    height: 50%;
    position: relative;
    top: 20%;
    left: 10%;
    border-radius: 20px;
    

}
.fotosite{
    border-radius: 10px;
    align-items: center;
    position: relative;
}


h1{
    font-family: "Bruno Ace", sans-serif;
    color: rgb(255, 254, 254);
}
.p2{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    
    
}
.p4:hover{
opacity: 50%;
transform: scale(1.2);

}
.p5:hover{
    opacity: 50%;
    transform: scale(1.2);
}
.p6:hover{
    opacity: 50%;
    transform: scale(1.2);
}

.p3{
 
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 10px;
    align-items: center;
    display: flex;
    box-shadow: 2px 2px 10px 0px rgba(44, 44, 44, 0.5);
    border-radius: 10px;
    
}

   

.p4{
    
    width: 30%;
    height:300px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 1%;
    box-shadow: 5px 5px 10px 0px rgba(44, 44, 44, 0.5);
}
.image-description{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    background-color: #424142;
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-family: "Bruno Ace", sans-serif;
}
.p4:hover .image-description{
    opacity: 1;
    pointer-events: auto;
}

.p5{
    width: 30%;
    height:300px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(44, 44, 44, 0.5);
    
}
.p5:hover .image-description{
    opacity: 1;
    pointer-events: auto;
}
.p6{
    width: 30%;
    height:300px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(44, 44, 44, 0.5)
}
.p6:hover .image-description{
    opacity: 1;
    pointer-events: auto;
}
.final{
    width: 100%;
    height: 100px;
    background-color: black;

}
.h1{
    position: relative;
    align-items: center;
    display: flex;
    
}
.font1{
    color:rgb(0, 0, 0);
    font-size: 40px;     
    text-align: center;
    
    font-family: "Bruno Ace", sans-serif;
   
   

}
.font2{
    color:rgb(0, 0, 0);
    font-size: 20px; 
    text-align: center;
    font-weight:lighter;
    position:relative;
    font-family: "Bruno Ace", sans-serif;
    
    
}
.font11{
     font-family: "Bruno Ace", sans-serif;
     font-size: 90px;
     left: 50vw;
     display: flex;
     position: relative;
     bottom: 35%;
     font-style:normal;
}
.font22{
     font-family: "Nanum Gothic", sans-serif;
     font-size: 18px;
     position: relative;
     color: white;
     font-weight:100;
     display: flex;
     max-width: 600px;
     margin-left: 50vw;
     bottom: 35%;

}

.btn:hover{
    transform: scaleX();
}

.rodape{
    width: 100%;
    height: 100px;
    background-color: #261040;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(to top, #261040 70%, white);
}

.rodapetxt{
    color: white;
    position: relative;
    margin-left: 45%;
    top: 50%;
    font-family: "Bruno Ace", sans-serif;
}
    




