body{
background-image:url("pao.jpg");
background-position: center;
background-size:cover;
background-color:rgba(87, 56, 36, 1) ;


}
.layout{

width: 800px;
height: 1440px;
background-color: rgba(240, 232, 194, 1);
margin-left: 30%;
border-radius: 8px;

}

.imgdentro{
    background-image:url("pao.jpg");
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 5%;
    padding-top: 50%;
    width: 750px;
    position:relative;
    top: 3%;
    padding
    
}

.textos{

height: 400px;
width: 600px;
margin-left: 15%;
margin-top: 5%;

}